*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Arial, Helvetica;
}

body{
    overflow-y: hidden;
    background-image: url(../img/background.png);
    background-position: center;
    background-size: 1480px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-color: black;
}

#content{
    padding: 45px;
    padding-top: 0px;
    padding-left: 18%;
    padding-right: 18%;
    background-color: #26262682;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 1100px;
}

/* TITLE */
#title{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: monospace;
    color: white;
}

/* BLOCK */
.block{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 4px solid #e97f0099;
    width: 75%;
    margin-bottom: 25px;
    background-color: #ff900aa8;
    border-radius: 30px;
    color: white;
}

.block-title{
    display: flex;
    padding: 10px;
    height: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: initial;
    font-family: system-ui;
}

p{
    margin: 10px;
    font-size: 20px;
}